body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.intro-section {
    text-align: center;
    margin-bottom: 2rem;
}

body.light-mode .name-title {
    color: #444;
}

body.light-mode .intro-text {
    color: #444;
    border-right: 2px solid #444;
}

body.light-mode .social-links a {
    color: #444;
}

/* 공통 섹션 제목 */
body.light-mode .section-title {
    color: #444;
    border-bottom: 2px solid #9e9e9e;
}
